<div class="aigis-sidemenu">
  <header class="aigis-header">
    <a href="<%- root %>index.html"><img src="<%- root %>aigis_assets/images/bureau-shield.svg" alt=""></a>
  </header>
  <nav class="aigis-categoryList">
    <%- helper.renderCollectionTree('category') %>
  </nav>
</div>
