/*------------------------------------*\
    BASE
\*------------------------------------*/

html {
    font-size: $base-font-size + px;
}

body {
	background-color: white;
    padding: 0;
    margin: 0;
    color: color('body');
    line-height: 1.5;
    @include primary-font;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


 //**********************
// TEST RELATED ELEMENTS

p,
ul,
ol,
dl {
    margin-bottom: $space; // Typically the margin-bottom matches the line-height.
}

.text--bigger {
	@include font-size(18);
}

.text--mini {
	@include font-size(14);
}

.text--micro {
	@include font-size(12);
}

.text--nano {
	@include font-size(10);
}

small {
	@extend .text--mini;
}

.text--style-italic {
	font-style: italic;
}


 //***********
// BLOCKQUOTE

blockquote {
    padding: em(10, 20) em(20, 20);
    margin: 0 0 em(20, 29);
    @include font-size(20);
    border-left: 5px solid #eee;

    p {
        @include primary-font;
        margin-bottom: $space / 2;
    }

    footer {
        display: block;
        line-height: 1.4;
    }
}


 //****************
// HORIZONTAL RULE

hr {
	border: 0px solid color('body');
	border-top-width: 1px;
	height: 1px;
	margin: 0 0 1em 0;
}


 //*****
// MISC

abbr {
}

strong,
b {
	@include primary-font(bold);
}

i,
em {
	font-style: italic;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
