/*------------------------------------*\
	$LISTS
\*------------------------------------*/

ul {
	list-style: disc;
}

ol,
ul {

	&.no-bullet {
		list-style-type: none;
	}
}

ul ul,
ol ol {
	margin-bottom: 0;
}

/* Definition Lists */
dl {
}

dt {
}

dd {
}
