# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.psd

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

#Various settings and files
wp-config.php
migrate.php
.htaccess
xmlrpc.php
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/w3tc/*
*.log
SCB-Prototype.sublime-project
SCB-Prototype.sublime-workspace
/starter.sublime-workspace