<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>Style Guide</title>

	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="prism.css">
</head>
<body>

	<aside>

		<div class="aside__pane">
			<h1>Lorem Styleguide</h1>
		</div>

		<div class="aside__pane">
			<input type="search" placeholder="Search components...">
		</div>

		<div class="aside__pane">

			<ol>
				<tree :model="treeData"></tree>
			</ol>

		</div>

	</aside>
<!--
	<main>
		<pattern :model="flatTree()"></pattern>
	</main>
 -->
	<!-- item template -->
	<template id="item-template">

		<li v-for="item in model.items">

			<a href="#">
				{{item.name}}
			</a>

			<ol v-if="this.hasChildren(item)">
				<tree :model="item"></tree>
			</ol>

		</li>

	</template>

	<template id="pattern-template">

		<div class="sg-section" v-for="pattern in model">

		<pre>{{ pattern | json }}</pre>

			<div class="sg-panel sg-panel__title">
				<h1>{{ pattern.name }}</h1>
			</div>
<!--
			<div class="sg-panel sg-panel__description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, sit, voluptatibus?</p>
			</div> -->

			<div class="sg-panel sg-panel__example">
				{{ pattern.html }}
			</div>

		<!-- 	<div class="sg-panel sg-panel__code">
				<pre><code class="language-markup">&lt;button>Default&lt;/button></code></pre>
			</div> -->

		</div>

	</template>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
	<script src="dist/main.js"></script>
	<script src="prism.js"></script>

</body>
</html>
