/*------------------------------------*\
	DEMO
\*------------------------------------*/


.demo__block {
	background-color: #CFD7DB;
	border: 1px solid darken(#CFD7DB, 20%);
	color: #333;
	@include font-size(12);
	p, span {
		@include font-size(12);
	}
}

.demo__grid {
	margin-bottom: 20px;
}

.demo__grid span {
	display: block;
	text-align: center;
}

.demo--list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	margin-bottom: 0;
}

.demo__block--space {
	padding: $space;
}

.demo__block--space-margin {
	margin-bottom: $space;
}

.demo__block--space-double {
	padding: $space * 2;
}


 //******************
// STYLEGUIDE TITLES

.sg-heading {
	@include primary-font(bold, normal);
	text-transform: uppercase;
	@include font-size(14);
	padding: em(2);
	border-left: 10px solid black;
	padding-left: em(10);
	margin-bottom: $space;
	margin-top: $space * 2;
}


 //**********
// TYPEFACES

$demo--typeface: "thin" "light" "normal" "bold" "ultra-bold";

@each $item in $demo--typeface {

	.primary-font--#{$item} {
		@include primary-font(#{$item}, normal);
	}

}
