/*------------------------------------*\
	VARIABLES
\*------------------------------------*/

 //********
// COLOURS

$colours: (
    'body': #777777,
    'brand': #353535,
);


 //***************
// SOCIAL COLOURS

$social-colors: (
    'youtube': #CC181E,
    'twitter': #00ACEE,
    'facebook': #3B5998,
    'google': #DD4B39,
    'linkedin': #007BB6,
);


 //***************
// BUTTON COLOURS

$button-colors: (
    'green': green,
    'pink': pink,
    'red': red,
    'blue': blue
);


 //**************
// TYPE SETTINGS

$base-font-size: 16;
$copy: map-get($colours, 'body');
$border-radius: 4px;


 //****************
// LAYOUT SETTINGS

$max-width: 1240;
$space: 1.5em;

$breakpoints: (
    M: 640,
    L: 1024
);


 //********
// Z-INDEX

// Here we can denote a solid z-index hierarchy through the main elements

$z-index: (

);
