/*------------------------------------*\
    $LAYOUT
	This is where wrappers are stored
\*------------------------------------*/

.wrapper {
	padding: 0 10px;
	margin: 0 auto;
	max-width: $max-width + px;
}
