/**
 * Colours
 */
/**
 * Global border radius
 */
/**
 * Typography based mixins
 */
/**
 * Colour based mixins
 */
/**
 * As per: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.img {
  float: left;
  margin-right: Xpx; }

/* Reversed image location (right instead of left). */
.img-rev {
  float: right;
  margin-left: Xpx; }

.img img {
  display: block; }

.body {
  overflow: hidden; }

.body > :last-child {
  margin-bottom: 0; }

/**
 * Simple floats
 */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/**
 * Basic Image replacement
 */
.ir, .rr-large, header .radical-realms, .country a.sg, .country a.uk {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before, .rr-large:before, header .radical-realms:before, .country a.sg:before, .country a.uk:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/**
 * Big up @necolas: nicolasgallagher.com/micro-clearfix-hack
 */
.media:before,
.media:after,
.cf:before,
header .second-links:before,
.row:before,
footer:before,
.country:before,
.circles:before,
.timer-widget:before,
ul.latest li.item:before,
ul.share-me:before,
.cf:after,
header .second-links:after,
.row:after,
footer:after,
.country:after,
.circles:after,
.timer-widget:after,
ul.latest li.item:after,
ul.share-me:after {
  content: "";
  display: table; }

.media:after,
.cf:after,
header .second-links:after,
.row:after,
footer:after,
.country:after,
.circles:after,
.timer-widget:after,
ul.latest li.item:after,
ul.share-me:after {
  clear: both; }

.media,
.cf,
header .second-links,
.row,
footer,
.country,
.circles,
.timer-widget,
ul.latest li.item,
ul.share-me {
  zoom: 1; }

.top-border {
  border-top: 1px solid #e7e9e9; }

/**
 * Server info
 */
.server-info {
  position: fixed;
  font-size: 14px;
  color: #333;
  font-weight: 100;
  background-color: pink;
  padding: 4px;
  z-index: 5;
  top: 28px;
  left: 0; }

/**
 * Useful
 */
::-moz-selection {
  background: #f2a735;
  text-shadow: none;
  color: white; }

::selection {
  background: #f2a735;
  text-shadow: none;
  color: white; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

html {
  font-size: 16px;
  overflow-y: scroll; }

body {
  background-color: white; }

/* ==========================================
	Links
============================================*/
a {
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s linear;
  /* Firefox 4-15 */
  -o-transition: all 0.1s linear;
  /* Opera 10.50–12.00 */
  transition: all 0.1s linear;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  outline: none;
  border: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline;
    outline: none;
    border: none; }

/* ==========================================
    Paragraphs
============================================*/
p, small, .milli, .small, .read-more {
  font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #4f4f4e;
  color: rgba(79, 79, 78, 0.9);
  line-height: 1.5;
  margin-bottom: 1.470588235em;
  margin-top: 0;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1; }
  .box p, .box small, .box .milli, .box .small, .box .read-more {
    font-size: 15px;
    font-size: 0.9375rem; }
  .circles p, .circles small, .circles .milli, .circles .small, .circles .read-more {
    min-height: 8.823em; }
  .promo p, .promo small, .promo .milli, .promo .small, .promo .read-more {
    margin-bottom: .588235294em; }

/* ==========================================
	Tables
============================================*/
/* ==========================================
    Lists
============================================*/
ul, ol {
  margin: 0;
  padding: 0; }

/* ==========================================
    Images
============================================*/
img {
  max-width: 100%; }

.rr-large {
  background: url(../img/css/sprite.png) -327px 0px no-repeat;
  display: block;
  width: 179px;
  height: 86px;
  margin: 0 auto; }

/* ==========================================
    Form Overrides
============================================*/
input[type="text"],
input[type="email"],
textarea,
select,
input[type="date"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"] {
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  border: 1px solid #e7e9e9;
  border-radius: 4px;
  padding: 0.714285714em!important;
  height: 2.857142857em;
  line-height: 1; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus,
  select:focus,
  input[type="date"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus {
    outline-color: transparent;
    outline-style: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.gfield_label {
  font-weight: normal; }

.gform_wrapper .ginput_left input:focus + label, .gform_wrapper .ginput_right input:focus + label, .gform_wrapper .ginput_full input:focus + label {
  font-weight: normal!important; }

.gform_wrapper ul li.gfield {
  clear: both;
  margin-bottom: 10px; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
  font-size: 14px;
  font-size: 0.875rem; }

.gform_wrapper .top_label .gfield_label {
  margin: 10px 0 6px 0; }

button, a.button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: none;
  border: none;
  background-color: #f2a735;
  text-shadow: none;
  font-weight: normal;
  color: #fff;
  font-size: 12px; }
  button:hover, button:active, button:focus, a.button:hover, a.button:active, a.button:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus {
    background-image: none;
    background-color: #e5900f;
    color: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
  font-family: "din-condensed-web-n4", "din-condensed-web";
  font-weight: 400; }

/**
 * Large headings
 */
/**
 * Headings
 */
h1, .alpha {
  font-size: 57px;
  font-size: 3.5625rem;
  color: #f2a735;
  color: rgba(242, 167, 53, 0.9);
  line-height: 1;
  margin-bottom: .631578947em; }
  .slides h1, .slides .alpha {
    font-size: 37px;
    font-size: 2.3125rem;
    color: #4f4f4e;
    color: rgba(79, 79, 78, 0.9);
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal;
    line-height: 61px;
    text-transform: uppercase;
    margin-bottom: 0;
    position: absolute;
    top: 100px;
    width: 18.108em;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline; }

h2, .beta {
  font-size: 24px;
  font-size: 1.5rem;
  color: #f2a735;
  color: rgba(242, 167, 53, 0.9);
  line-height: 1.5;
  margin-bottom: .75em;
  text-transform: uppercase; }
  .promo h2, .promo .beta {
    font-size: 27px;
    font-size: 1.6875rem;
    color: #5c5c5c;
    color: rgba(92, 92, 92, 0.9);
    text-transform: none;
    font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
    font-weight: 400;
    font-style: normal; }
  .news h2, .news h2 a, .news .beta, .news .beta a {
    font-size: 18px;
    font-size: 1.125rem;
    color: #5c5b5b;
    color: #5c5b5b;
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal;
    text-transform: none; }
  .post h2, .post h2 a, .post .beta, .post .beta a {
    font-size: 24px;
    font-size: 1.5rem;
    color: #5c5b5b;
    color: #5c5b5b;
    font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
    font-weight: 400;
    font-style: normal;
    text-transform: none; }

h3, .gamma {
  font-size: 24px;
  font-size: 1.5rem;
  color: #303030;
  color: rgba(48, 48, 48, 0.9);
  line-height: 1.5;
  margin-bottom: .75em; }
  .circle h3, .widget h3, .news h3,
  .contact h3, .tweets h3,
  .follow h3, .box h3,
  .get-involved h3, .circle .gamma, .widget .gamma, .news .gamma,
  .contact .gamma, .tweets .gamma,
  .follow .gamma, .box .gamma,
  .get-involved .gamma {
    text-transform: uppercase;
    color: #f2a735;
    color: rgba(242, 167, 53, 0.9);
    font-size: 21px;
    font-size: 1.3125rem;
    font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
    font-weight: 400;
    font-style: normal;
    padding-top: 1.25em;
    margin-bottom: 1.19047619em; }
  .widget.tweets h3, .tweets h3, .widget.news h3, .news h3, .widget.follow h3,
  .follow h3, .widget.get-involved h3,
  .get-involved h3, .widget.contact h3,
  .contact h3, .widget.tweets .gamma, .tweets .gamma, .widget.news .gamma, .news .gamma, .widget.follow .gamma,
  .follow .gamma, .widget.get-involved .gamma,
  .get-involved .gamma, .widget.contact .gamma,
  .contact .gamma {
    font-size: 17px;
    font-size: 1.0625rem; }
  .footer h3, .footer .gamma {
    color: #5c5c5c;
    color: rgba(92, 92, 92, 0.9); }
  h3 .thin, .gamma .thin {
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal; }

h4, .delta,
.digits li a {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase; }

/**
 * Small
 */
small, .milli, .small {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
  font-weight: 300;
  font-style: normal; }

.milli {
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase; }

/* ==========================================
	GLOBAL LAYOUTS
============================================*/
.wrapper {
  max-width: 61.875em;
  margin: 0 auto; }
  .wrapper.relative {
    position: relative; }

/* ==========================================
	HEADER
============================================*/
header {
  margin: 0.9375em 0; }
  header .radical-realms {
    background: url(../img/css/sprite.png) -508px -140px no-repeat;
    display: inline-block;
    width: 85px;
    height: 42px;
    margin-right: 1.25em; }
  header .second-links {
    margin-top: 20px; }

/* ==========================================
	SLIDER (OVERRIDES)
============================================*/
.flexslider {
  border: none;
  box-shadow: none; }

/* ==========================================
	GRIDS
============================================*/
.row {
  margin-bottom: 1.875em; }
  .row.circles {
    margin-bottom: 5em; }

/* ==========================================
	FOOTER
============================================*/
footer {
  background-color: #f8f8f8;
  background-color: rgba(248, 248, 248, 0.9);
  margin-top: 7.5em; }
  footer .footer {
    padding: 1.875em 0; }

/* ==========================================
	ASIDE
============================================*/
aside {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 21.94397%; }
  aside .cta-widget {
    padding: 1.25em;
    background-color: #f8f8f8;
    background-color: rgba(248, 248, 248, 0.9);
    border: 1px solid #e7e9e9;
    margin-bottom: 1.25em; }

/* ==========================================
	ARTICLE
============================================*/
article.content-wrapper,
.article-list {
  display: block;
  float: left;
  margin-left: 25.98437%;
  margin-right: -100%;
  width: 60.95691%; }

/* ==========================================
	SIDEBAR NAVIAGATION
============================================*/
nav.side {
  border: 1px solid #e7e9e9;
  padding: .625em;
  margin-bottom: 1.25em; }
  nav.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav.side ul li {
      border-bottom: 1px solid #e7e9e9;
      padding: 10px 0; }
      nav.side ul li.first {
        padding-top: 0px; }
      nav.side ul li.last {
        border-bottom: none;
        padding-bottom: 0px; }
      nav.side ul li a {
        padding-bottom: 10px;
        color: #7b7979;
        color: #7b7979;
        font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
        font-weight: 100;
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;
        font-size: 0.875rem;
        display: block;
        padding: 9px 10px;
        line-height: 1;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none; }
        nav.side ul li a:hover, nav.side ul li a:active, nav.side ul li a:focus {
          text-decoration: none;
          background-color: #f2a735;
          background-color: rgba(242, 167, 53, 0.9);
          color: white;
          color: white; }
        nav.side ul li a span.arrow {
          float: right; }

/* Site wide components */
.country {
  background-color: #f7f7f7;
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  border: 1px solid rgba(227, 227, 227, 0.9);
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 8px 0 5px 8px; }
  .country li {
    float: left;
    margin-right: .625em;
    line-height: 1; }
  .country a.sg {
    background: url(../img/css/sprite.png) -595px -140px no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 1; }
  .country a.uk {
    background: url(../img/css/sprite.png) -595px -162px no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    line-height: 1; }

.circles .circle {
  text-align: center;
  position: relative; }
  .circles .circle.circle-1 {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 21.94397%; }
  .circles .circle.circle-2 {
    display: block;
    float: left;
    margin-left: 38.97671%;
    margin-right: -100%;
    width: 21.96629%; }
  .circles .circle.circle-3 {
    display: block;
    float: left;
    margin-left: 77.9821%;
    margin-right: -100%;
    width: 21.9674%; }
  .circles .circle img {
    position: relative;
    z-index: 1; }
.circles .overlay {
  background: url(../img/css/sprite.png) 0px -213px no-repeat;
  display: inline-block;
  width: 215px;
  height: 215px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2; }

.news,
.contact {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 34.93631%; }

.tweets,
.follow {
  display: block;
  float: left;
  margin-left: 38.97671%;
  margin-right: -100%;
  width: 34.96498%; }

.box,
.get-involved {
  display: block;
  float: left;
  margin-left: 77.9821%;
  margin-right: -100%;
  width: 21.9674%; }

.box {
  background-color: #f8f8f8;
  background-color: rgba(248, 248, 248, 0.9);
  border: 1px solid #e7e9e9;
  padding: 1.25em; }

.call-to-action {
  font-size: 11px;
  font-size: 0.6875rem;
  color: white;
  color: rgba(255, 255, 255, 0.9);
  font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
  font-weight: 400;
  font-style: normal;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0.63636em 1.36364em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .call-to-action.orange {
    background-color: #f2a735;
    background-color: rgba(242, 167, 53, 0.9); }
    .call-to-action.orange:hover, .call-to-action.orange:active, .call-to-action.orange:focus {
      background-color: #e5900f; }
  .call-to-action.coming-soon {
    background-color: #c6c4c4;
    background-color: rgba(198, 196, 196, 0.9); }
    .call-to-action.coming-soon:hover, .call-to-action.coming-soon:active, .call-to-action.coming-soon:focus {
      background-color: #adaaaa; }
  .call-to-action.r-blue {
    background-color: #29abe1;
    background-color: rgba(41, 171, 225, 0.9); }
    .call-to-action.r-blue:hover, .call-to-action.r-blue:active, .call-to-action.r-blue:focus {
      background-color: #1a8dbd; }
  .call-to-action.t-blue {
    background-color: #00acee;
    background-color: rgba(0, 172, 238, 0.9);
    padding: 0.63636em 0.54545em; }
    .call-to-action.t-blue:hover, .call-to-action.t-blue:active, .call-to-action.t-blue:focus {
      background-color: #0087bb; }
  .call-to-action.f-blue {
    background-color: #445ca2;
    background-color: rgba(68, 92, 162, 0.9);
    padding: 0.63636em 0.54545em; }
    .call-to-action.f-blue:hover, .call-to-action.f-blue:active, .call-to-action.f-blue:focus {
      background-color: #35487e; }
  .call-to-action.promo-cta {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal;
    margin-top: .666666667em;
    display: inline-block; }
  .call-to-action.rm {
    margin-right: 20px; }
  footer .call-to-action.big {
    font-size: 14px;
    font-size: 0.875rem;
    display: block;
    padding: 1.071428571em;
    text-align: center;
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal;
    margin-bottom: .714285714em; }
    footer .call-to-action.big .register {
      font-size: 20px;
      font-size: 1.25rem;
      font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
      font-weight: 400;
      font-style: normal;
      display: block; }
  .call-to-action:hover, .call-to-action:active, .call-to-action:focus {
    text-decoration: none; }

.hero {
  position: relative;
  width: 75em;
  margin: 0 auto;
  margin-bottom: 5em; }

.promo,
.timer-widget {
  position: absolute;
  z-index: 2;
  background-color: white;
  background-color: white;
  border-radius: 4px; }

.promo {
  padding: 0.9375em 1.5625em 1.25em 1.5625em;
  bottom: -40px;
  right: 50px;
  width: 39.4375em;
  -webkit-box-shadow: 1px 1px 6px -2px black;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 1px 1px 6px -2px black;
  /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */ }

.timer-widget {
  bottom: 20px;
  left: 105px;
  padding: 0.625em 1.25em;
  width: 16.75em; }
  .timer-widget .timer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-size: 3.75rem;
    color: #f2a735;
    color: rgba(242, 167, 53, 0.9);
    font-family: "din-condensed-web-n4", "din-condensed-web";
    font-weight: 400;
    float: left;
    margin-right: 0.333333333em;
    text-align: center; }
    .timer-widget .timer li:last-child {
      margin-right: 0; }
    .timer-widget .timer li .units {
      display: block;
      text-transform: uppercase;
      font-size: 25px;
      font-size: 1.5625rem; }

ul.latest {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.latest li.item {
    margin-bottom: 1.875em; }
    ul.latest li.item .title {
      padding-top: .9375em; }

.time-stamp {
  background: url(../img/css/sprite.png) -508px -184px no-repeat;
  text-decoration: none;
  display: inline-block;
  width: 84px;
  height: 84px;
  float: left;
  margin-right: 1.25em;
  text-align: center; }
  .time-stamp .day {
    color: white;
    color: white;
    font-size: 24px;
    font-size: 1.5rem;
    display: block;
    font-family: "proxima-nova-alt-n7", "proxima-nova-alt";
    font-weight: 700;
    font-style: normal;
    line-height: 1.4;
    padding-top: 0.541666667em; }
  .time-stamp .month {
    color: white;
    color: white;
    text-transform: uppercase;
    display: block;
    font-family: "proxima-nova-alt-n1", "proxima-nova-alt";
    font-weight: 100;
    font-style: normal; }
  .time-stamp:hover, .time-stamp:active, .time-stamp:focus {
    text-decoration: none; }

ul.tweet-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.tweet-list li {
    margin-bottom: 1.25em; }
    ul.tweet-list li .tweet-wrapper {
      background: url(../img/css/tweet-box.png) 0px 0px no-repeat;
      display: inline-block;
      width: 350px;
      height: 145px;
      margin-bottom: 0; }
    ul.tweet-list li .tweet-inner {
      padding: .9375em; }
    ul.tweet-list li p, ul.tweet-list li small, ul.tweet-list li .milli, ul.tweet-list li .small, ul.tweet-list li .read-more {
      font-family: "proxima-nova-alt-i1", "proxima-nova-alt";
      font-weight: 100;
      font-style: italic;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.2;
      word-break: break-word;
      margin-bottom: 0; }
    ul.tweet-list li span.tweet-stamp {
      text-transform: uppercase;
      font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
      font-weight: 300;
      font-style: normal;
      font-size: 11px;
      font-size: 0.6875rem;
      float: right;
      margin-top: -1.363636364em; }
    ul.tweet-list li span.tweet-icon {
      font-size: 36px;
      font-size: 2.25rem;
      color: #00acee;
      color: rgba(0, 172, 238, 0.9);
      margin-top: -15px;
      display: inline-block; }

.radical-promo {
  text-align: center; }
  .radical-promo a {
    margin-bottom: 10px; }
  .radical-promo a.rr-large {
    margin-bottom: 20px; }
  .radical-promo a.call-to-action.play {
    display: block; }

.widget.contact .uk,
.contact .uk {
  float: left;
  margin-right: 1.25em; }
.widget.contact .sg,
.contact .sg {
  float: left; }
.widget.contact .digits,
.contact .digits {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .widget.contact .digits li a,
  .contact .digits li a {
    color: #4f4f4e;
    color: rgba(79, 79, 78, 0.9);
    font-size: 12px;
    font-size: 0.75rem; }

ul.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.social-links li {
    float: left;
    margin-right: 0.625em; }
    ul.social-links li a {
      font-size: 16px;
      font-size: 1rem;
      color: #4f4f4e;
      color: rgba(79, 79, 78, 0.9);
      font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
      font-weight: 300;
      font-style: normal;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      ul.social-links li a .follow-tweet {
        font-size: 28px;
        font-size: 1.75rem;
        color: #00acee;
        color: rgba(0, 172, 238, 0.9);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      ul.social-links li a .follow-fb {
        font-size: 28px;
        font-size: 1.75rem;
        color: #445ca2;
        color: rgba(68, 92, 162, 0.9);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      ul.social-links li a:hover .follow-tweet, ul.social-links li a:active .follow-tweet, ul.social-links li a:focus .follow-tweet {
        color: #0087bb;
        text-decoration: none; }
      ul.social-links li a:hover .follow-fb, ul.social-links li a:active .follow-fb, ul.social-links li a:focus .follow-fb {
        color: #35487e;
        text-decoration: none; }
      ul.social-links li a:hover, ul.social-links li a:active, ul.social-links li a:focus {
        text-decoration: none; }

.the-bottom {
  border-top: 1px solid #aab0b2;
  padding-top: 1.25em; }
  .the-bottom > a {
    margin-left: 1.25em;
    color: #4f4f4e;
    color: rgba(79, 79, 78, 0.9); }

ul.share-me {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: .75em; }
  ul.share-me li {
    float: left;
    margin-right: .625em; }
    ul.share-me li.label {
      line-height: 2; }
    ul.share-me li a.call-to-action {
      padding: 0.454545455em; }

.read-more {
  color: #f2a735;
  color: rgba(242, 167, 53, 0.9);
  font-family: "proxima-nova-alt-n4", "proxima-nova-alt";
  font-weight: 400;
  font-style: normal; }

.pagination {
  margin-top: 5em; }
  .pagination .prev-container a {
    float: left;
    font-size: 16px;
    font-size: 1rem;
    color: #4f4f4e;
    color: rgba(79, 79, 78, 0.9);
    font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    line-height: 1; }
    .pagination .prev-container a .ss-icon {
      margin-right: 10px;
      line-height: 1;
      vertical-align: baseline; }
  .pagination .next-container a {
    font-size: 16px;
    font-size: 1rem;
    color: #4f4f4e;
    color: rgba(79, 79, 78, 0.9);
    font-family: "proxima-nova-alt-n3", "proxima-nova-alt";
    font-weight: 300;
    font-style: normal;
    float: right;
    text-decoration: none;
    line-height: 1; }
    .pagination .next-container a .ss-icon {
      margin-left: 10px;
      line-height: 1;
      vertical-align: baseline; }

.contact-clear {
  clear: both;
  margin-top: 120px; }

/* ==========================================
	IE TWEAKS
============================================*/
.lt-ie9 .tweets .call-to-action {
  font-size: 10px; }
