/*

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : http://cssguidelin.es/

Sass Globbing is used so an import utilising an asterisk (*) will use every
partial in the specified directory .

*/
/*------------------------------------*    $REQUIREMENTS
\*------------------------------------*/
/*------------------------------------*    RESET
\*------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0; }

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none; }

/*------------------------------------*	VARIABLES
\*------------------------------------*/
/*------------------------------------*    GLOBAL MIXINS
\*------------------------------------*/
/**
 * Example of use
 *

    .example {
        @include font-size(12);

        @include mq(400) {
            @include font-size(14);
        }

        @include mq(M) {
            @include font-size(18);
        }
    }

 *
 */
/*------------------------------------* * THE IDEA BUREAU - GRID
 * https://github.com/theideabureau/grid
\*------------------------------------*/
.row {
  margin-left: -1.5em;
  *zoom: 1; }
  .row:before,
  .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after {
    clear: both; }

.col {
  border: 0 solid transparent;
  float: left;
  box-sizing: border-box;
  background-clip: padding-box !important;
  border-left-width: 1.5em;
  margin-left: 0;
  padding: 0 0; }

/* S-grid */
.S-hide {
  display: none; }

.S-1 {
  display: block;
  width: 25%; }

.row--clearfix .S-1:nth-child(n) {
  clear: none; }

.row--clearfix .S-1:nth-child(4n+1) {
  clear: left; }

.S-2 {
  display: block;
  width: 50%; }

.row--clearfix .S-2:nth-child(n) {
  clear: none; }

.row--clearfix .S-2:nth-child(2n+1) {
  clear: left; }

.S-3 {
  display: block;
  width: 75%; }

.row--clearfix .S-3:nth-child(n) {
  clear: none; }

.row--clearfix .S-3:nth-child(1n+1) {
  clear: left; }

.S-all {
  display: block;
  margin-left: 0;
  width: 100%; }

/* M-grid */
@media screen and (min-width: 640px) {
  .M-hide {
    display: none; }
  .M-1 {
    display: block;
    width: 16.66667%; }
  .row--clearfix .M-1:nth-child(n) {
    clear: none; }
  .row--clearfix .M-1:nth-child(6n+1) {
    clear: left; }
  .M-2 {
    display: block;
    width: 33.33333%; }
  .row--clearfix .M-2:nth-child(n) {
    clear: none; }
  .row--clearfix .M-2:nth-child(3n+1) {
    clear: left; }
  .M-3 {
    display: block;
    width: 50%; }
  .row--clearfix .M-3:nth-child(n) {
    clear: none; }
  .row--clearfix .M-3:nth-child(2n+1) {
    clear: left; }
  .M-4 {
    display: block;
    width: 66.66667%; }
  .row--clearfix .M-4:nth-child(n) {
    clear: none; }
  .row--clearfix .M-4:nth-child(1n+1) {
    clear: left; }
  .M-5 {
    display: block;
    width: 83.33333%; }
  .row--clearfix .M-5:nth-child(n) {
    clear: none; }
  .row--clearfix .M-5:nth-child(1n+1) {
    clear: left; }
  .M-all {
    display: block;
    margin-left: 0;
    width: 100%; } }

/* L-grid */
@media screen and (min-width: 1024px) {
  .L-hide {
    display: none; }
  .L-1 {
    display: block;
    width: 8.33333%; }
  .row--clearfix .L-1:nth-child(n) {
    clear: none; }
  .row--clearfix .L-1:nth-child(12n+1) {
    clear: left; }
  .L-2 {
    display: block;
    width: 16.66667%; }
  .row--clearfix .L-2:nth-child(n) {
    clear: none; }
  .row--clearfix .L-2:nth-child(6n+1) {
    clear: left; }
  .L-3 {
    display: block;
    width: 25%; }
  .row--clearfix .L-3:nth-child(n) {
    clear: none; }
  .row--clearfix .L-3:nth-child(4n+1) {
    clear: left; }
  .L-4 {
    display: block;
    width: 33.33333%; }
  .row--clearfix .L-4:nth-child(n) {
    clear: none; }
  .row--clearfix .L-4:nth-child(3n+1) {
    clear: left; }
  .L-5 {
    display: block;
    width: 41.66667%; }
  .row--clearfix .L-5:nth-child(n) {
    clear: none; }
  .row--clearfix .L-5:nth-child(2n+1) {
    clear: left; }
  .L-6 {
    display: block;
    width: 50%; }
  .row--clearfix .L-6:nth-child(n) {
    clear: none; }
  .row--clearfix .L-6:nth-child(2n+1) {
    clear: left; }
  .L-7 {
    display: block;
    width: 58.33333%; }
  .row--clearfix .L-7:nth-child(n) {
    clear: none; }
  .row--clearfix .L-7:nth-child(1n+1) {
    clear: left; }
  .L-8 {
    display: block;
    width: 66.66667%; }
  .row--clearfix .L-8:nth-child(n) {
    clear: none; }
  .row--clearfix .L-8:nth-child(1n+1) {
    clear: left; }
  .L-9 {
    display: block;
    width: 75%; }
  .row--clearfix .L-9:nth-child(n) {
    clear: none; }
  .row--clearfix .L-9:nth-child(1n+1) {
    clear: left; }
  .L-10 {
    display: block;
    width: 83.33333%; }
  .row--clearfix .L-10:nth-child(n) {
    clear: none; }
  .row--clearfix .L-10:nth-child(1n+1) {
    clear: left; }
  .L-11 {
    display: block;
    width: 91.66667%; }
  .row--clearfix .L-11:nth-child(n) {
    clear: none; }
  .row--clearfix .L-11:nth-child(1n+1) {
    clear: left; }
  .L-all {
    display: block;
    margin-left: 0;
    width: 100%; } }

/*------------------------------------*	FONTS
\*------------------------------------*/
/*------------------------------------*	DEMO
\*------------------------------------*/
.demo__block {
  background-color: #CFD7DB;
  border: 1px solid #95a6af;
  color: #333;
  font-size: 12px;
  font-size: 0.66667rem; }
  .demo__block p, .demo__block span {
    font-size: 12px;
    font-size: 0.66667rem; }

.demo__grid {
  margin-bottom: 20px; }

.demo__grid span {
  display: block;
  text-align: center; }

.demo--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 0; }

.demo__block--space {
  padding: 1.5em; }

.demo__block--space-margin {
  margin-bottom: 1.5em; }

.demo__block--space-double {
  padding: 3em; }

.sg-heading {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.77778rem;
  padding: 0.11111em;
  border-left: 10px solid black;
  padding-left: 0.55556em;
  margin-bottom: 1.5em;
  margin-top: 3em; }

.primary-font--thin {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.primary-font--light {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.primary-font--normal {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.primary-font--bold {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

.primary-font--ultra-bold {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

/*------------------------------------*    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*    GLOBAL CLASSES
\*------------------------------------*/
.cf, .band {
  *zoom: 1; }

.cf:before, .band:before, .cf:after, .band:after {
  content: " ";
  display: table; }

.cf:after, .band:after {
  clear: both; }

.is-hidden {
  display: none !important;
  visibility: hidden !important; }

.is-visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.img, .img--wide {
  width: 100%; }

/*------------------------------------*    BASE
\*------------------------------------*/
html {
  font-size: 18px; }

body {
  background-color: white;
  padding: 0;
  margin: 0;
  color: #777777;
  line-height: 1.5;
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

p,
ul,
ol,
dl {
  margin-bottom: 1.5em; }

.text--bigger {
  font-size: 18px;
  font-size: 1rem; }

.text--mini, small {
  font-size: 14px;
  font-size: 0.77778rem; }

.text--micro {
  font-size: 12px;
  font-size: 0.66667rem; }

.text--nano {
  font-size: 10px;
  font-size: 0.55556rem; }

.text--style-italic {
  font-style: italic; }

blockquote {
  padding: 0.5em 1em;
  margin: 0 0 0.68966em;
  font-size: 20px;
  font-size: 1.11111rem;
  border-left: 5px solid #eee; }
  blockquote p {
    font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0.75em; }
  blockquote footer {
    display: block;
    line-height: 1.4; }

hr {
  border: 0px solid;
  border-top-width: 1px;
  height: 1px;
  margin: 0 0 1em 0; }

strong,
b {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

i,
em {
  font-style: italic; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*------------------------------------*    LINKS
\*------------------------------------*/
a {
  text-decoration: underline; }
  a:hover,
  a:focus {
    text-decoration: none; }
  a:active {
    text-decoration: underline; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none; }
  h1 a:hover,
  h1 a:focus,
  h2 a:hover,
  h2 a:focus,
  h3 a:hover,
  h3 a:focus,
  h4 a:hover,
  h4 a:focus,
  h5 a:hover,
  h5 a:focus {
    text-decoration: underline; }
  h1 a:active,
  h2 a:active,
  h3 a:active,
  h4 a:active,
  h5 a:active {
    text-decoration: none; }

tbody tr a {
  color: inherit;
  text-decoration: underline; }
  tbody tr a:hover,
  tbody tr a:focus {
    text-decoration: none; }
  tbody tr a:active {
    text-decoration: underline; }

/*------------------------------------*	HEADINGS
\*------------------------------------*/
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: .6em;
  line-height: 1.2; }
  h1.has-strap, .alpha.has-strap,
  h2.has-strap, .beta.has-strap,
  h3.has-strap, .gamma.has-strap,
  h4.has-strap, .delta.has-strap,
  h5.has-strap, .epsilon.has-strap,
  h6.has-strap, .zeta.has-strap {
    margin-bottom: .3em; }

.strap {
  font-style: italic; }

.giga {
  font-size: 40px;
  font-size: 2.22222rem; }

h1, .alpha {
  font-size: 35px;
  font-size: 1.94444rem; }
  @media screen and (min-width: 640px) {
    h1, .alpha {
      font-size: 50px;
      font-size: 2.77778rem; } }

h2, .beta {
  font-size: 30px;
  font-size: 1.66667rem; }
  @media screen and (min-width: 640px) {
    h2, .beta {
      font-size: 35px;
      font-size: 1.94444rem; } }
  h2.strap, .beta.strap {
    font-size: 28px;
    font-size: 1.55556rem; }
    @media screen and (min-width: 640px) {
      h2.strap, .beta.strap {
        font-size: 33px;
        font-size: 1.83333rem; } }

h3, .gamma {
  font-size: 25px;
  font-size: 1.38889rem; }
  @media screen and (min-width: 640px) {
    h3, .gamma {
      font-size: 30px;
      font-size: 1.66667rem; } }
  h3.strap, .gamma.strap {
    font-size: 23px;
    font-size: 1.27778rem; }

h4, .delta {
  font-size: 20px;
  font-size: 1.11111rem; }
  h4.strap, .delta.strap {
    font-size: 13px;
    font-size: 0.72222rem;
    margin-bottom: 2.07692em; }

h5, .epsilon {
  font-size: 18px;
  font-size: 1rem; }

/*------------------------------------*	LISTS
\*------------------------------------*/
ul {
  list-style: disc; }

ol.no-bullet,
ul.no-bullet {
  list-style-type: none; }

ul ul,
ol ol {
  margin-bottom: 0; }

/*------------------------------------*    MEDIA ELEMENTS
\*------------------------------------*/
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

iframe,
img {
  max-width: 100%; }

img {
  vertical-align: middle;
  height: auto;
  width: auto; }

a img {
  border: none; }

/*------------------------------------*    FORMS
\*------------------------------------*/
fieldset,
form {
  border: none;
  padding: 0;
  margin: 0; }

label,
legend {
  display: block;
  margin-bottom: 0;
  font-size: 13px;
  font-size: 0.72222rem;
  text-transform: uppercase;
  color: #cccccc; }

abbr[title="Required"] {
  color: #cccccc;
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="color"],
input[type="number"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-size: 0.88889rem;
  padding: 1.11111em 0.55556em;
  width: 100%;
  border: 1px solid #cccccc;
  margin-bottom: 0.75em;
  line-height: 1;
  color: #777777;
  background-color: white;
  border-radius: 4px; }

input[type="color"] {
  width: auto; }

textarea {
  line-height: 1.5; }

input[type="password"]:hover,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="color"]:hover,
input[type="color"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="range"]:hover,
input[type="range"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
textarea:hover,
textarea:focus {
  box-shadow: none;
  outline: none;
  border: solid 1px #cccccc;
  background-color: #777777; }

::-webkit-input-placeholder {
  color: #333; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333; }

:-ms-input-placeholder {
  color: #333; }

/*------------------------------------*    TABLES
\*------------------------------------*/
table {
  background: white;
  width: 100%;
  text-align: left;
  border-spacing: 0px; }

th {
  padding: 0;
  display: block;
  text-align: left; }
  @media screen and (min-width: 640px) {
    th {
      font-size: 12px;
      font-size: 0.66667rem;
      font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 700;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;
      background-color: #cccccc;
      color: white;
      letter-spacing: 2px;
      padding: 1em;
      display: table-cell; } }

td {
  display: block;
  text-align: left;
  padding: 0.55556em; }
  @media screen and (min-width: 640px) {
    td {
      padding: 1em;
      display: table-cell; } }

td:first-child {
  font-size: 12px;
  font-size: 0.66667rem;
  text-transform: uppercase;
  background-color: #cccccc;
  color: white;
  letter-spacing: 2px;
  padding-left: 0.41667em; }
  @media screen and (min-width: 640px) {
    td:first-child {
      font-size: 14px;
      font-size: 0.77778rem;
      font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      margin-top: 1em;
      letter-spacing: 0;
      color: inherit;
      background: inherit;
      text-transform: none; } }

table:before {
  content: attr(aria-label) ""; }
  @media screen and (min-width: 640px) {
    table:before {
      display: none; } }

table:last-child {
  margin-bottom: 1.5em; }

thead tr {
  color: transparent;
  font: 0/0 a; }
  @media screen and (min-width: 640px) {
    thead tr {
      color: inherit;
      font: inherit; } }

tbody tr {
  font-size: 14px;
  font-size: 0.77778rem;
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #cccccc;
  color: black;
  text-decoration: none;
  padding: 1em; }
  tbody tr:nth-child(odd) {
    background: #777777; }

/*------------------------------------*	ANIMATION
\*------------------------------------*/
/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/*------------------------------------*	BAND
\*------------------------------------*/
.band {
  margin-bottom: 1.5em;
  margin-top: 1.5em; }

.band--thin {
  margin-bottom: 0.75em;
  margin-top: 0.75em; }

.band--thick {
  margin-bottom: 1.5em;
  margin-top: 1.5em; }
  @media screen and (min-width: 640px) {
    .band--thick {
      margin-bottom: 3em;
      margin-top: 3em; } }

.band--extra-thick {
  margin-bottom: 4.5em;
  margin-top: 4.5em; }

.band--double-thick {
  margin-bottom: 6em;
  margin-top: 6em; }

/*------------------------------------*    FOOTER
\*------------------------------------*/
/*------------------------------------*	HEADER
\*------------------------------------*/
/*------------------------------------*    HERO
\*------------------------------------*/
/*------------------------------------*	ISLAND
\*------------------------------------*/
.island {
  margin-bottom: 0.75em; }
  .island img {
    width: 100%; }

.island--box {
  padding: 0.55556em; }
  @media screen and (min-width: 640px) {
    .island--box {
      padding: 1.38889em; } }

.island--box-flat-bottom {
  padding-bottom: 0; }

.island--cloud {
  border: 1px solid #cccccc;
  padding: 0.55556em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05); }
  @media screen and (min-width: 640px) {
    .island--cloud {
      padding: 1.38889em; } }

.island--thin {
  padding: 0.66667em; }

@media screen and (min-width: 640px) {
  .island--thick {
    padding: 2.77778em 2.77778em 5.55556em 2.77778em; } }

/*------------------------------------*    LAYOUT
\*------------------------------------*/
.wrapper {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1240px; }

/*------------------------------------*    NAVIGATION
\*------------------------------------*/
/*------------------------------------*    $MODULAR
\*------------------------------------*/
/*------------------------------------*    BUTTONS
\*------------------------------------*/
.btn,
button,
input[type="submit"] {
  font-size: 13px;
  font-size: 0.72222rem;
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  padding: 0.53846em 2.30769em;
  border: 1px solid #cccccc;
  display: inline-block;
  line-height: 1;
  color: #cccccc;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-transition: color 0.2s, background-color 0.2s;
          transition: color 0.2s, background-color 0.2s; }
  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background-color: #cccccc;
    color: white;
    text-decoration: none; }
  .btn:active,
  button:active,
  input[type="submit"]:active {
    background-color: #f2f2f2;
    color: white; }
  .btn.btn--alt,
  button.btn--alt,
  input[type="submit"].btn--alt {
    background-color: #cccccc;
    color: white; }
    .btn.btn--alt:hover,
    .btn.btn--alt:focus,
    button.btn--alt:hover,
    button.btn--alt:focus,
    input[type="submit"].btn--alt:hover,
    input[type="submit"].btn--alt:focus {
      background-color: white;
      color: #cccccc; }
    .btn.btn--alt:active,
    button.btn--alt:active,
    input[type="submit"].btn--alt:active {
      background-color: #d9d9d9;
      color: #cccccc; }
  .btn.btn--cta,
  button.btn--cta,
  input[type="submit"].btn--cta {
    color: white;
    background-color: orange;
    border-color: white; }
  .btn.btn--wide,
  button.btn--wide,
  input[type="submit"].btn--wide {
    width: 100%; }
  .btn.btn--fixed-width,
  button.btn--fixed-width,
  input[type="submit"].btn--fixed-width {
    width: 38.46154em; }
  .btn.btn--transparent,
  button.btn--transparent,
  input[type="submit"].btn--transparent {
    color: white;
    background-color: transparent;
    border-color: white; }
    .btn.btn--transparent:hover,
    .btn.btn--transparent:focus,
    button.btn--transparent:hover,
    button.btn--transparent:focus,
    input[type="submit"].btn--transparent:hover,
    input[type="submit"].btn--transparent:focus {
      background-color: white;
      color: #cccccc;
      text-decoration: none; }
    .btn.btn--transparent:active,
    button.btn--transparent:active,
    input[type="submit"].btn--transparent:active {
      background-color: rgba(255, 255, 255, 0.8); }
  .btn.btn--disabled,
  .btn[disabled],
  button.btn--disabled,
  button[disabled],
  input[type="submit"].btn--disabled,
  input[type="submit"][disabled] {
    color: #cccccc;
    background-color: white;
    border-color: #cccccc;
    cursor: default;
    pointer-events: none; }
    .btn.btn--disabled:hover,
    .btn.btn--disabled:focus,
    .btn[disabled]:hover,
    .btn[disabled]:focus,
    button.btn--disabled:hover,
    button.btn--disabled:focus,
    button[disabled]:hover,
    button[disabled]:focus,
    input[type="submit"].btn--disabled:hover,
    input[type="submit"].btn--disabled:focus,
    input[type="submit"][disabled]:hover,
    input[type="submit"][disabled]:focus {
      background-color: white;
      color: #cccccc;
      text-decoration: none; }
  .btn.btn--highlight,
  button.btn--highlight,
  input[type="submit"].btn--highlight {
    font-size: 12px;
    font-size: 0.66667rem;
    background-color: blue;
    border-color: blue;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 0; }
    .btn.btn--highlight:hover,
    .btn.btn--highlight:focus,
    button.btn--highlight:hover,
    button.btn--highlight:focus,
    input[type="submit"].btn--highlight:hover,
    input[type="submit"].btn--highlight:focus {
      background-color: white;
      color: blue; }
    .btn.btn--highlight:active,
    button.btn--highlight:active,
    input[type="submit"].btn--highlight:active {
      background-color: blue;
      color: white; }

.btn-text {
  font-size: 12px;
  font-size: 0.66667rem;
  font-family: "open-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: blue;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
  margin-bottom: 1.3em;
  -webkit-transition: color 0.2s, background-color 0.2s;
          transition: color 0.2s, background-color 0.2s; }
  .btn-text:hover,
  .btn-text:focus {
    color: #4d4dff; }

.btn--green {
  background-color: green; }
  .btn--green:hover,
  .btn--green:active,
  .btn--green:focus {
    color: green;
    border: 1px solid green; }
  .btn--green.btn--solid:hover,
  .btn--green.btn--solid:active,
  .btn--green.btn--solid:focus {
    color: white;
    background-color: #003400; }

.btn--pink {
  background-color: pink; }
  .btn--pink:hover,
  .btn--pink:active,
  .btn--pink:focus {
    color: pink;
    border: 1px solid pink; }
  .btn--pink.btn--solid:hover,
  .btn--pink.btn--solid:active,
  .btn--pink.btn--solid:focus {
    color: white;
    background-color: #ff738c; }

.btn--red {
  background-color: red; }
  .btn--red:hover,
  .btn--red:active,
  .btn--red:focus {
    color: red;
    border: 1px solid red; }
  .btn--red.btn--solid:hover,
  .btn--red.btn--solid:active,
  .btn--red.btn--solid:focus {
    color: white;
    background-color: #b30000; }

.btn--blue {
  background-color: blue; }
  .btn--blue:hover,
  .btn--blue:active,
  .btn--blue:focus {
    color: blue;
    border: 1px solid blue; }
  .btn--blue.btn--solid:hover,
  .btn--blue.btn--solid:active,
  .btn--blue.btn--solid:focus {
    color: white;
    background-color: #0000b3; }

/*------------------------------------*	ICONS
\*------------------------------------*/
/*------------------------------------*	LISTS
\*------------------------------------*/
.nav {
  list-style-type: none; }

.nav--list li {
  display: block;
  float: none; }

.nav--icon li {
  margin-right: 0.75em; }

.inline-list li {
  display: inline-block; }

/*------------------------------------*	MEDIA OBJECT
\*------------------------------------*/
.media {
  display: block; }

.media__object {
  float: left;
  margin-right: 1em; }

.media--reversed .media__object {
  float: right;
  margin-left: 1em;
  margin-right: 0; }

.media__body {
  overflow: hidden;
  display: block; }

/*------------------------------------*    SIDEBAR
\*------------------------------------*/
/*------------------------------------*    SOCIAL
\*------------------------------------*/
.social__youtube {
  color: #CC181E; }
  .social__youtube:hover,
  .social__youtube:active,
  .social__youtube:focus {
    color: #9e1317; }

.social__twitter {
  color: #00ACEE; }
  .social__twitter:hover,
  .social__twitter:active,
  .social__twitter:focus {
    color: #0087bb; }

.social__facebook {
  color: #3B5998; }
  .social__facebook:hover,
  .social__facebook:active,
  .social__facebook:focus {
    color: #2d4373; }

.social__google {
  color: #DD4B39; }
  .social__google:hover,
  .social__google:active,
  .social__google:focus {
    color: #c23321; }

.social__linkedin {
  color: #007BB6; }
  .social__linkedin:hover,
  .social__linkedin:active,
  .social__linkedin:focus {
    color: #005983; }

/*------------------------------------*	$PRINT STYLES
\*------------------------------------*/
/*------------------------------------*    PRINT STYLES
\*------------------------------------*/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
