// ============================
//	Mixins Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Useful mixins used on all projects. Include project specific ones towards the bottom of the document.
//
//============================ */


/* ==========================================
	Type and List Based Mixins
============================================*/
 @mixin font-size($size: 16){
  font-size: $size + px;
  font-size: $size / 16 + rem;
}

// Mixins for list style types
@mixin unordered {
	list-style-position: outside;
	list-style-type: disc;
}

@mixin unordered-inside {
	list-style-position: inside;
	list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside;
	list-style-type: decimal;
}

@mixin ordered-inside {
	list-style-position: inside;
	list-style-type: decimal;
}

@mixin nobullet {
	list-style-type: none;
}

@mixin list-reset{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/* ==========================================
	Style Mixins
============================================*/
 @mixin rounded{
	border-radius: 4px;
 }


/* ==========================================
	Color Based Mixins
============================================*/
@mixin back-color($color, $value: 1) {
	background-color: $color;
	background-color: rgba($color, $value);
}
@mixin font-color($color, $value: 1) {
	color: $color;
	color: rgba($color, $value);
}