/*

---
name: Blockquote
category:
 - Base
 - Base/Blockquote
---

## Default Styling

This is the default markup and styling for a blockquote.

```html
<blockquote>
	<p>The quick fox jumped over</p>
	<footer> - The Lazy dog</footer>
</blockquote>
```

*/

blockquote {
	@include font-size(20);
    padding: .5em 1em;
    margin: 0 0 1em;
    border-left: 5px solid color('black');

    p {
        @include font;
        margin-bottom: $space / 2;
    }

    footer {
        display: block;
    }
}
